<div *ngIf="productList" class="container">
    <div class="row">

        <app-search-product></app-search-product>
        <div *ngFor="let product of productList; let i = index" 
        [ngClass]="{'m4': gridView === true,'m12': gridView === false}" class="col s6">
            <div (click)="goToProduct(product)" class="card horizontal"  productBorderCard>
                <div class="card-image">                
                    <img class="products-img" src="../../../assets/picture1.jpg" alt="">
                    </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ product.data.title | titlecase}}</p>
                        <p><small>{{ product.data.category }}</small></p>
                        <p> {{product.data.price | currency:'EUR':'symbol':'1.2'}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="productList.length == 0" class="center">
    <app-loader></app-loader>
</div>
<a class="btn-floating btn-large waves-effect  waves-light red z-depth-3"
    style="position:fixed;bottom:25px; right: 25px;"
    routerLink="/product/add">+</a>

<button class="waves-effect waves-light btn"
    style="position:absolute;top:15px; right: 25px;"
    (click)="changeView()"
    >change view</button>