<div *ngIf="product" class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">{{ product.data.title | titlecase }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img src="https://images.unsplash.com/photo-1647532198028-0e14fe8ea54e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
                    alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Title</td>
                                <td><strong>{{ product.data.title }}</strong></td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{ product.data.category }}</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td><strong>{{ product.data.price | currency:'EUR':'symbol':'1.2'}}</strong></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><em>{{ product.data.description }}</em> </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td><em>{{ product.data.employee }}</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a>Reviews</a>
                    <a (click)="goToProductList()">Retour</a>
                    <a (click)="deleteProduct(product)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="product == undefined" class='center'>
    <h4 class="center">No product !</h4>
    <a routerLink="/products" class="waves-effect waves-teal btn-flat">
        Go back
    </a>
</div>
