.avatar-img {
    width: 35px;
    height: 35px;
    border: solid black 2px;
}

.trash-button{
    position: absolute;
    top: 3px;
    right: 3px!important;
}

.card-link-action{
    cursor: pointer;
}